.status-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.status__text {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.status__text span {
  font-weight: bold;
}

.status__light {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  transition: all 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.5rem;
}

.status__light--Failed {
  background-color: hsla(0, 50%, 50%, 1);
  box-shadow: 0 0 6rem 0 hsla(0, 50%, 50%, 1);
  border: 5px solid hsla(0, 50%, 48%, 1);
}

.status__light--Success {
  background-color: hsla(120, 50%, 50%, 1);
  box-shadow: 0 0 6rem 0 hsla(120, 50%, 50%, 1);
  border: 5px solid hsla(120, 50%, 48%, 1);
}

.status__light--Unknown {
  background-color: hsla(120, 10%, 70%, 1);
  box-shadow: 0 0 6rem 0 hsla(120, 10%, 70%, 1);
  border: 5px solid hsla(120, 10%, 70%, 1);
}
